.about {
    padding-top: 35px;
    padding-bottom: 50px;
    }
    
.about .about_container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    place-items: center;
    column-gap: 50px;
}

.about .about_container img{
    width: 100%;
    height: 100%;
}

.about .about_container div:first-child{
    order: 1;
}

@media (max-width: 768px) {
    .about .about_container div:first-child{
        order: 0;
    }
}

@media (max-width: 768px) {
    .about .about_container{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.about .about_container p{
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    .about .about_container h1{
        margin: 14px auto 14px;
    }
}

.about .about_container img{
    width: 100%;
    height: auto;
}