footer{
    background-color: #350600;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #ffffff38;
}

footer img{
    height: auto;
}

footer ul{
    padding: 0;
}