footer{
    background-color: #350600;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #ffffff38;
    padding: 14px;
    gap: 14px;
}

@media (max-width: 768px) {
    footer{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 575px) {
    footer{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}

footer img{
    height: auto;
}

footer ul{
    padding: 0;
    list-style: none;
}