.project-page h1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 30px;
}

.project-page .project-page-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(328px,1fr));
    gap: 20px;
}

@media (max-width: 400px) {
    .project-page .project-page-portfolio {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}

.project-page .portfolio-item {
    background: #fff;
    padding: 14px 20px;
    border-radius: 14px;
}

.project-page .portfolio-item img{
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
    object-position: top;
    transition: .3s ease-in-out;
}

.project-page .portfolio-item:hover img{
    object-position: bottom;
}

.project-page .portfolio-item .portfolio-item_description h2{
    text-align: center;
    margin-bottom: 7px;
    color: var(--color-primary);
    line-height: 1;
    margin-top: 7px;
}

.project-page .portfolio-item .portfolio-item_description p {
    transition: 0.4s ease;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: center;
    color: #333;
}

.project-page button.read-more {
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-primary);
    margin-bottom: 14px;
    font-size: 16px;
    text-align: center;
    display: flex;  
    justify-content: center;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 14px;
}

.project-page .portfolio-item_technology {
    display: flex;
    justify-content: center;
    gap: 14px;
    border-top: 2px solid #dddddd;
    padding-top: 12px;
    align-items: center;
}

.project-page .portfolio-item_technology svg{
    width: 50px;
}

.project-page .portfolio-item_technology svg.php{
    width: 95px;
}

.project-page .portfolio-item_technology img{
    width: 70px;
}

.project-page .portfolio-item_technology img.elementor{
    width: 200px;
    height: unset;
}

.project-page .woocomerce {
    width: 100px !important;
}